Repository pi-ohm/pi-ohm: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt-write, oxlint-fix

lefthook.yml:

commit-msg:
  commands:
    validate:
      run: node --experimental-strip-types ./scripts/validate-commits.ts --message-file {1}

pre-commit:
  parallel: false
  commands:
    oxfmt-write:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs,json,yml,yaml,md}"
      run: yarn oxfmt {staged_files}
      stage_fixed: true

    oxlint-fix:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: yarn oxlint -- --fix {staged_files}
      stage_fixed: true

    typecheck:
      run: yarn typecheck

pre-push:
  parallel: true
  commands:
    oxfmt-check:
      run: yarn format:check

    oxlint:
      run: yarn lint

    typecheck:
      run: yarn typecheck

pre-merge-commit:
  parallel: false
  commands:
    oxlint:
      run: yarn lint

feat(config): add package-owned config modules
  packages/handoff/package.json
  packages/handoff/src/config.ts
  packages/modes/package.json
  packages/modes/src/config.ts
  packages/painter/package.json
  packages/painter/src/config.ts
  packages/session-search/package.json
  packages/session-search/src/config.ts
  packages/subagents/src/config.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

refactor(config): wire extensions to owned config
  docs/content/docs/config/how-config-works.mdx
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/handoff/src/extension.ts
  packages/modes/src/extension.ts
  packages/painter/src/extension.ts
  packages/session-search/src/extension.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

chore(root): docs and other stuff/logging
  AGENTS.md
  docs/content/docs/subagents/how-subagents-work.mdx
  packages/core/ARCH.md
  packages/core/README.md
  packages/core/package.json
  packages/core/src/events/README.md
  packages/core/src/events/index.ts
  packages/core/src/logging/README.md
  packages/core/src/logging/index.ts
  packages/core/src/logging/tests/logging.test.ts
Due: oxfmt-write, oxlint-fix

chore(core): docs
  packages/core/src/logging/README.md
Due: oxfmt-write

chore(core): pip docs
  packages/core/ARCH.md
  packages/core/src/pi-in-pi/ARCH.md
Due: oxfmt-write

feat(core): Pi-in-Pi (PiP)
  docs/content/docs/subagents/how-subagents-work.mdx
  packages/core/README.md
  packages/core/package.json
  packages/core/src/pi-in-pi/index.ts
  packages/core/src/pi-in-pi/tests/pip.smoke.test.ts
  packages/core/src/pi-in-pi/tests/pip.test.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

chore(core): tap logging and deps
  .yarnrc.yml
  packages/core/src/logging/index.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

chore(root)!: update better-result, migrate to stricter Err<T, E> by emitting Result.error(result.error) where the success type changes
  .yarnrc.yml
  packages/core/src/config/index.ts
  packages/core/src/db/index.ts
  packages/core/src/db/tests/db.test.ts
  packages/core/src/events/index.ts
  packages/core/src/events/tests/events.test.ts
  packages/core/src/logging/index.ts
  packages/core/src/pi-in-pi/index.ts
  packages/memories/src/config.ts
  packages/memories/src/db.ts
  packages/memories/src/subprocess.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

chore(docs): update better-result skill
  .pi/skills/better-result/SKILL.md
  .pi/skills/better-result/references/tagged-errors.md
Due: oxfmt-write

chore(db,memory,pip): refactor to use generators, `Result.gen(function* ())`
  packages/core/src/db/index.ts
  packages/core/src/pi-in-pi/index.ts
  packages/memories/src/config.ts
  packages/memories/src/db.ts
  packages/memories/src/subprocess.ts
  scripts/validate-commits.ts
Due: oxfmt-write, oxlint-fix

feat(db): migrate to drizzle/constructor
  docs/content/docs/subagents/how-subagents-work.mdx
  package.json
  packages/core/ARCH.md
  packages/core/drizzle/core-pip/0000_create_pip_session.sql
  packages/core/drizzle/core-pip/meta/_journal.json
  packages/core/package.json
  packages/core/src/db/errors.ts
  packages/core/src/db/index.ts
  packages/core/src/db/paths.ts
  packages/core/src/db/tests/db.test.ts
  packages/core/src/pi-in-pi/index.ts
  packages/core/src/pi-in-pi/tests/pip.test.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

fix(db): imports
  packages/core/src/db/index.ts
Due: oxfmt-write, oxlint-fix

chore(docs): update subagents
  docs/content/docs/subagents/how-subagents-work.mdx
Due: none

chore(docs): update subagents spec
  docs/content/docs/subagents/how-subagents-work.mdx
Due: none

docs(subagents): plan pip session storage
  docs/content/docs/subagents/how-subagents-work.mdx
Due: none

feat(subagents): back agents with pip sessions
  packages/core/src/pi-in-pi/index.ts
  packages/core/src/pi-in-pi/tests/pip.smoke.test.ts
  packages/core/src/pi-in-pi/tests/pip.test.ts
  packages/subagents/package.json
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/extension.ts
  packages/subagents/src/tests/agent-controller.test.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

test(subagents): add pi print e2e
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/tests/agent-controller.e2e.test.ts
Due: oxfmt-write, oxlint-fix

refactor(subagents): split controller into tools
  docs/content/docs/subagents/how-subagents-work.mdx
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/tests/agent-controller.e2e.test.ts
  packages/subagents/src/tests/agent-controller.test.ts
Due: oxfmt-write, oxlint-fix

fix(subagents): run agents in background
  packages/core/src/pi-in-pi/index.ts
  packages/core/src/pi-in-pi/tests/pip.smoke.test.ts
  packages/core/src/pi-in-pi/tests/pip.test.ts
  packages/subagents/src/agent-controller.ts
Due: oxfmt-write, oxlint-fix

chore(root): ignore generated route tree in checks
  vite.config.ts
Due: oxfmt-write, oxlint-fix

test(subagents): cover config resolution smoke
  packages/core/src/config/tests/config.test.ts
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/config.ts
  packages/subagents/src/schema.ts
  packages/subagents/src/tests/agent-controller.test.ts
  packages/subagents/src/tests/config.test.ts
Due: oxfmt-write, oxlint-fix

fix(subagents): default to current session model
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/tests/agent-controller.test.ts
Due: oxfmt-write, oxlint-fix

chore(docs): add more intro sections
  docs/content/docs/getting-started.mdx
  docs/content/docs/index.mdx
  docs/content/docs/installation.mdx
  docs/content/docs/meta.json
Due: oxfmt-write

chore(docs): stuff
  docs/content/docs/index.mdx
Due: none

feat(docs): change layout
  docs/src/routes/docs/$.tsx
Due: oxfmt-write, oxlint-fix

feat(docs): stripe components.
  docs/src/components/toc/stripe.tsx
  docs/src/routes/docs/$.tsx
Due: oxfmt-write, oxlint-fix

chore(docs): fix weird sidebar behavior
  docs/content/docs/config/meta.json
  docs/content/docs/handoff/meta.json
  docs/content/docs/modes/meta.json
  docs/content/docs/painter/meta.json
  docs/content/docs/session-search/meta.json
  docs/content/docs/subagents/meta.json
Due: oxfmt-write

chore(docs): nice
  docs/content/docs/meta.json
Due: oxfmt-write

chore(docs): llm stuff and icons/format
  docs/content/docs/config/how-config-works.mdx
  docs/content/docs/config/meta.json
  docs/content/docs/handoff/index.mdx
  docs/content/docs/handoff/meta.json
  docs/content/docs/index.mdx
  docs/content/docs/modes/index.mdx
  docs/content/docs/modes/meta.json
  docs/content/docs/painter/index.mdx
  docs/content/docs/painter/meta.json
  docs/content/docs/session-search/index.mdx
  docs/content/docs/session-search/meta.json
  docs/content/docs/subagents/how-subagents-work.mdx
  docs/content/docs/subagents/index.mdx
  docs/content/docs/subagents/meta.json
Due: oxfmt-write

fix(docs): llms stuff
  docs/src/components/ai/page-actions.tsx
  docs/src/lib/get-llm-text.ts
  docs/src/lib/markdown-path.ts
  docs/src/routeTree.gen.ts
  docs/src/routes/docs/$.tsx
  docs/src/routes/docs/{$}[.]md.ts
  docs/src/routes/llms-full[.]txt.ts
  docs/src/routes/llms[.]txt.ts
  docs/src/styles/app.css
Due: oxfmt-write, oxlint-fix

chore(docs): fix stuff
  docs/src/routes/docs/$.tsx
Due: oxfmt-write, oxlint-fix

fix(ci): update packages
  .github/workflows/release.yml
  .release-please-config.json
  .release-please-manifest.json
  scripts/validate-commits.ts
Due: oxfmt-write, oxlint-fix

chore(docs): fmt
  docs/content/docs/index.mdx
Due: none

chore(ci): fix lefthook stuff
  lefthook.yml
Due: oxfmt-write

chore(ci): ignore generated changelogs
  lefthook.yml
  vite.config.ts
Due: oxfmt-write, oxlint-fix

chore(docs): ui stuff
  docs/src/routes/docs/$.tsx
Due: oxfmt-write, oxlint-fix

fix(docs): ui
  docs/src/routes/docs/$.tsx
Due: oxfmt-write, oxlint-fix

chore(docs): nice
  docs/content/docs/config/meta.json
  docs/content/docs/config/prompts.mdx
  docs/content/docs/config/subagents.mdx
Due: oxfmt-write

feat(subagents): add subagents overview command
  packages/subagents/src/catalog.ts
  packages/subagents/src/extension.ts
  packages/subagents/src/overview.ts
  packages/subagents/src/tests/extension.test.ts
  packages/subagents/src/tests/overview.test.ts
Due: oxfmt-write, oxlint-fix

feat(subagents): support disabled profiles
  docs/content/docs/config/subagents.mdx
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/config.ts
  packages/subagents/src/overview.ts
  packages/subagents/src/schema.ts
  packages/subagents/src/tests/agent-controller.test.ts
  packages/subagents/src/tests/config.test.ts
  packages/subagents/src/tests/overview.test.ts
Due: oxfmt-write, oxlint-fix
