Repository pi-ohm/pi-ohm: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt-write, oxlint-fix

lefthook.yml:

commit-msg:
  commands:
    validate:
      run: node --experimental-strip-types ./scripts/validate-commits.ts --message-file {1}

pre-commit:
  parallel: false
  commands:
    oxfmt-write:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs,json,yml,yaml,md}"
      run: yarn oxfmt {staged_files}
      stage_fixed: true

    oxlint-fix:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: yarn oxlint -- --fix {staged_files}
      stage_fixed: true

    typecheck:
      run: yarn typecheck

pre-push:
  parallel: true
  commands:
    oxfmt-check:
      run: yarn format:check

    oxlint:
      run: yarn lint

    typecheck:
      run: yarn typecheck

pre-merge-commit:
  parallel: false
  commands:
    oxlint:
      run: yarn lint

chore: release dev
  .release-please-manifest.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  packages/handoff/CHANGELOG.md
  packages/handoff/package.json
  packages/modes/CHANGELOG.md
  packages/modes/package.json
  packages/painter/CHANGELOG.md
  packages/painter/package.json
  packages/session-search/CHANGELOG.md
  packages/session-search/package.json
  packages/subagents/CHANGELOG.md
  packages/subagents/package.json
  packages/tui/CHANGELOG.md
  packages/tui/package.json
Due: oxfmt-write

fix(subagents): rendering issues
  packages/subagents/src/tools/task/contracts.ts
  packages/subagents/src/tools/task/render.ts
  packages/subagents/src/tools/task/tests/operations.lifecycle.test.ts
  packages/subagents/src/tools/tests/primary.test.ts
Due: oxfmt-write, oxlint-fix

fix(subagents): harden final-answer transport path
  package.json
  packages/subagents/ARCH.md
  packages/subagents/src/tools/primary.ts
  packages/subagents/src/tools/task/contracts.ts
  packages/subagents/src/tools/task/render.ts
  packages/subagents/src/tools/task/tests/operations.lifecycle.test.ts
  packages/subagents/src/tools/task/tests/transport.test.ts
  packages/subagents/src/tools/task/transport.ts
  packages/subagents/src/tools/task/updates.ts
  packages/subagents/src/tools/tests/primary.test.ts
  packages/subagents/tests-dist/transport.dist.test.ts
Due: oxfmt-write, oxlint-fix

fix(tui,subagents): stabilize running task tree prompt layout
  packages/subagents/src/runtime/live-ui.ts
  packages/subagents/src/runtime/tests/live-ui.test.ts
  packages/subagents/src/runtime/ui.ts
  packages/subagents/src/tools/task/render.ts
  packages/tui/src/subagent-task-tree.ts
  packages/tui/src/tests/subagent-task-tree.test.ts
Due: oxfmt-write, oxlint-fix

chore(docs): routetree
  docs/src/routeTree.gen.ts
Due: oxfmt-write, oxlint-fix

fix(subagents): task tree TUI coloring
  packages/subagents/src/tools/primary.ts
  packages/subagents/src/tools/task/operations.ts
  packages/subagents/src/tools/task/render.ts
  packages/subagents/src/tools/tests/primary.test.ts
  packages/tui/src/index.ts
  packages/tui/src/subagent-task-tree.ts
  packages/tui/src/tests/subagent-task-tree.test.ts
Due: oxfmt-write, oxlint-fix

chore(root): add tuistory SKILL
  .pi/skills/tuistory/SKILL.md
Due: oxfmt-write

chore(root): add tuistory skill
  .pi/skills/tuistory/SKILL.md
  .pi/skills/tuistory/references/cli.md
  .pi/skills/tuistory/references/sdk.md
Due: oxfmt-write

fix(root): tuistory skill
  .pi/skills/tuistory/SKILL.md
Due: oxfmt-write

chore(root): nice
  .pi/skills/tuistory/SKILL.md
Due: oxfmt-write

feat(memories): add memory extension MVP
  .yarnrc.yml
  README.md
  package.json
  packages/config/package.json
  packages/config/src/schema.ts
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/src/manifest.ts
  packages/handoff/src/extension.ts
  packages/memories/ARCH.md
  packages/memories/README.md
  packages/memories/TODO.md
  packages/memories/package.json
  packages/memories/src/citations.ts
  packages/memories/src/config.ts
  packages/memories/src/db.ts
  packages/memories/src/extension.ts
  packages/memories/src/extract.ts
  packages/memories/src/layout.ts
  packages/memories/src/paths.ts
  packages/memories/src/prompt.ts
  packages/memories/src/tests/citations.test.ts
  packages/memories/src/tests/config.test.ts
  packages/memories/src/tests/paths.test.ts
  packages/modes/src/extension.ts
  packages/subagents/src/runtime/backend/runners.ts
  packages/subagents/src/runtime/backend/tests/system-prompt-harness.test.ts
  packages/subagents/src/schema/task-tool.ts
  packages/subagents/src/schema/tests/task-tool.test.ts
  packages/subagents/src/tools/primary.ts
  scripts/validate-commits.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

feat(memories): type shit
  packages/memories/ARCH.md
  packages/memories/README.md
  packages/memories/TODO.md
  packages/memories/src/codex-prompts.ts
  packages/memories/src/config.ts
  packages/memories/src/db.ts
  packages/memories/src/extension.ts
  packages/memories/src/layout.ts
  packages/memories/src/prompt.ts
  packages/memories/src/startup.ts
  packages/memories/src/subprocess.ts
Due: oxfmt-write, oxlint-fix

refactor(memories): idempotent? no
  packages/memories/src/config.ts
  packages/memories/src/extension.ts
  packages/memories/src/layout.ts
  packages/memories/src/subprocess.ts
  packages/memories/src/tests/config.test.ts
  packages/memories/src/tests/paths.test.ts
Due: oxfmt-write, oxlint-fix

chore(root): scripts validate commit shit
  scripts/validate-commits.ts
Due: oxfmt-write, oxlint-fix

feat(root)!: migrate to vite plus
  .oxfmtrc.json
  .yarnrc.yml
  docs/package.json
  docs/vite.config.ts
  package.json
  packages/config/package.json
  packages/core/package.json
  packages/db/package.json
  packages/extension/package.json
  packages/handoff/package.json
  packages/memories/package.json
  packages/modes/package.json
  packages/painter/package.json
  packages/session-search/package.json
  packages/subagents/package.json
  packages/tui/package.json
  tsdown.config.ts
  vite.config.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

feat(root): nice
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
  lefthook.yml
  package.json
Due: oxfmt-write

fix(root): repair vite plus ci
  .github/workflows/ci.yml
  lefthook.yml
  scripts/publish-packages.ts
  tsconfig.json
Due: oxfmt-write, oxlint-fix

fix(root): publish memories package
  .github/workflows/release.yml
  scripts/publish-packages.ts
Due: oxfmt-write, oxlint-fix

fix(root): make scoped packages public
  scripts/publish-packages.ts
Due: oxfmt-write, oxlint-fix

fix(root): use npm access status syntax
  scripts/publish-packages.ts
Due: oxfmt-write, oxlint-fix

chore(root): update readme
  README.md
Due: oxfmt-write

chore(docs): tanstack + subagents
  docs/content/docs/subagents/how-subagents-work.mdx
  docs/content/docs/subagents/meta.json
Due: oxfmt-write

chore(docs): update docs
  docs/content/docs/subagents/how-subagents-work.mdx
  docs/src/routeTree.gen.ts
Due: oxfmt-write, oxlint-fix

chore(core): update db
  packages/core/ARCH.md
  packages/core/README.md
  packages/core/package.json
  packages/core/src/db/errors.ts
  packages/core/src/db/index.ts
  packages/core/src/db/paths.ts
  packages/core/src/db/tests/db.test.ts
Due: oxfmt-write, oxlint-fix

chore(docs): how subagents work
  docs/content/docs/subagents/how-subagents-work.mdx
  src_legacy/extension.ts
Due: oxfmt-write, oxlint-fix

chore(docs): nice
  docs/content/docs/config/how-config-works.mdx
  docs/content/docs/config/meta.json
  docs/content/docs/meta.json
Due: oxfmt-write

chore(config): update config
  docs/content/docs/config/how-config-works.mdx
  packages/config/README.md
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/src/tests/config.test.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

refac(root)!: remove old db package
  README.md
  package.json
  packages/db/README.md
  packages/db/drizzle.config.ts
  packages/db/drizzle/0000_calm_payback.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/package.json
  packages/db/src/client.ts
  packages/db/src/errors.ts
  packages/db/src/index.ts
  packages/db/src/models.ts
  packages/db/src/paths.ts
  packages/db/src/schema/index.ts
  packages/db/src/schema/meta.ts
  packages/db/src/schema/state.ts
  packages/db/src/schema/subagent.ts
  packages/db/src/schema/version.ts
  packages/db/src/tests/client.test.ts
  packages/db/src/tests/paths.test.ts
  packages/db/src/tests/test-fixtures.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

chore(root): deps
  yarn.lock
Due: none

chore(core): bad event shape honestly
  packages/core/ARCH.md
  packages/core/README.md
  packages/core/package.json
  packages/core/src/events/README.md
  packages/core/src/events/index.ts
  packages/core/src/events/tests/events.test.ts
Due: oxfmt-write, oxlint-fix

chore(core): events suck
  packages/core/src/events/README.md
  packages/core/src/events/index.ts
  packages/core/src/events/tests/events.test.ts
Due: oxfmt-write, oxlint-fix

chore(core): implement PiEventRegistry
  packages/core/src/events/README.md
  packages/core/src/events/index.ts
  packages/core/src/events/tests/events.test.ts
Due: oxfmt-write, oxlint-fix

feat(core): add config registry
  packages/core/src/config/index.ts
  packages/core/src/config/tests/config.test.ts
  packages/subagents/src/extension.ts
Due: oxfmt-write, oxlint-fix

feat(subagents): own config module
  package.json
  packages/core/package.json
  packages/core/src/config/index.ts
  packages/subagents/package.json
  packages/subagents/src/config.ts
  packages/subagents/src/extension.ts
  packages/subagents/src/schema.ts
  tsconfig.json
  yarn.lock
Due: oxfmt-write, oxlint-fix

refactor(config): remove runtime compatibility loader
  packages/core/src/config/index.ts
  packages/core/src/config/tests/config.test.ts
  packages/extension/src/extension.ts
  packages/handoff/src/extension.ts
  packages/modes/src/extension.ts
  packages/painter/src/extension.ts
  packages/session-search/src/extension.ts
  packages/subagents/src/config.ts
Due: oxfmt-write, oxlint-fix

refactor(config): use extension-agnostic names
  docs/content/docs/config/how-config-works.mdx
  packages/core/src/config/features.ts
  packages/core/src/config/index.ts
  packages/core/src/config/modes.ts
  packages/core/src/config/painter.ts
  packages/core/src/config/tests/config.test.ts
  packages/extension/src/extension.ts
  packages/handoff/src/extension.ts
  packages/modes/src/extension.ts
  packages/painter/src/extension.ts
  packages/session-search/src/extension.ts
  packages/subagents/src/config.ts
Due: oxfmt-write, oxlint-fix

refactor(core): make config registry-only
  packages/core/ARCH.md
  packages/core/package.json
  packages/core/src/config/features.ts
  packages/core/src/config/index.ts
  packages/core/src/config/modes.ts
  packages/core/src/config/painter.ts
  packages/core/src/config/tests/config.test.ts
Due: oxfmt-write, oxlint-fix
