Repository pi-ohm/pi-ohm: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt-write, oxlint-fix

lefthook.yml:

commit-msg:
  commands:
    validate:
      run: node --experimental-strip-types ./scripts/validate-commits.ts --message-file {1}

pre-commit:
  parallel: false
  commands:
    oxfmt-write:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs,json,yml,yaml,md}"
      run: yarn oxfmt {staged_files}
      stage_fixed: true

    oxlint-fix:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: yarn oxlint -- --fix {staged_files}
      stage_fixed: true

    typecheck:
      run: yarn typecheck

pre-push:
  parallel: true
  commands:
    oxfmt-check:
      run: yarn format:check

    oxlint:
      run: yarn lint

    typecheck:
      run: yarn typecheck

pre-merge-commit:
  parallel: false
  commands:
    oxlint:
      run: yarn lint

fix(docs): enable gfm tables
  docs/package.json
  docs/source.config.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

fix(docs): escape subagents table pipes
  docs/content/docs/config/subagents.mdx
Due: none

docs(subagents): replace config tables with examples
  docs/content/docs/config/subagents.mdx
Due: none

fix(subagents): hide disabled profiles from tools
  docs/content/docs/config/subagents.mdx
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/tests/agent-controller.test.ts
Due: oxfmt-write, oxlint-fix

chore(root): gitignore
  .gitignore
Due: none

refactor(subagents): simplify agent config
  docs/content/docs/config/how-config-works.mdx
  docs/content/docs/config/subagents.mdx
  docs/content/docs/subagents/how-subagents-work.mdx
  docs/content/docs/subagents/index.mdx
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/catalog.ts
  packages/subagents/src/config.ts
  packages/subagents/src/overview.ts
  packages/subagents/src/schema.ts
  packages/subagents/src/tests/agent-controller.test.ts
  packages/subagents/src/tests/config.test.ts
  packages/subagents/src/tests/overview.test.ts
Due: oxfmt-write, oxlint-fix

chore(docs): subagents
  docs/content/docs/config/subagents.mdx
Due: none

refactor(subagents): remove runtime config knobs
  docs/content/docs/config/how-config-works.mdx
  docs/content/docs/config/subagents.mdx
  docs/content/docs/subagents/how-subagents-work.mdx
  packages/extension/src/extension.ts
  packages/subagents/src/config.ts
  packages/subagents/src/overview.ts
  packages/subagents/src/tests/config.test.ts
  packages/subagents/src/tests/overview.test.ts
Due: oxfmt-write, oxlint-fix

refactor(subagents): derive config thinking from model
  docs/content/docs/config/subagents.mdx
  docs/content/docs/subagents/how-subagents-work.mdx
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/config.ts
  packages/subagents/src/overview.ts
  packages/subagents/src/schema.ts
  packages/subagents/src/tests/agent-controller.test.ts
  packages/subagents/src/tests/config.test.ts
Due: oxfmt-write, oxlint-fix

chore(docs,subagents): update schema
  docs/content/docs/config/subagents.mdx
Due: none

fix(subagents): align config schema docs
  docs/content/docs/config/subagents.mdx
  packages/subagents/src/config.ts
  packages/subagents/src/schema.ts
  packages/subagents/src/tests/config.test.ts
Due: oxfmt-write, oxlint-fix

refactor(subagents): remove variants
  docs/content/docs/config/subagents.mdx
  docs/content/docs/subagents/index.mdx
  packages/subagents/src/config.ts
  packages/subagents/src/schema.ts
  packages/subagents/src/tests/agent-controller.test.ts
  packages/subagents/src/tests/config.test.ts
Due: oxfmt-write, oxlint-fix

chore(deps): updated deps
  .yarnrc.yml
  docs/package.json
  yarn.lock
Due: oxfmt-write

feat(core): add experimental PiP prompt helpers
  packages/core/package.json
  packages/core/src/pi-in-pi/experimental.ts
  packages/core/src/pi-in-pi/index.ts
  packages/core/src/pi-in-pi/tests/experimental.test.ts
  packages/core/src/pi-in-pi/tests/pip.test.ts
Due: oxfmt-write, oxlint-fix

feat(root): migrate to pnpm
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/alchemy.run.ts
  docs/package.json
  lefthook.yml
  package.json
  packages/core/src/pi-in-pi/index.ts
  packages/core/src/pi-in-pi/tests/pip.smoke.test.ts
  packages/core/src/pi-in-pi/tests/pip.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/publish-packages.ts
  yarn.lock
Due: oxfmt-write, oxlint-fix

feat(root): onlybuilddeps
  package.json
Due: oxfmt-write

ci(ci): run pnpm workspace through vite plus
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
Due: oxfmt-write

fix(docs): run alchemy build through vite plus
  docs/alchemy.run.ts
Due: oxfmt-write, oxlint-fix

fix(release): publish packages with npm oidc
  .github/workflows/release.yml
  README.md
  scripts/publish-packages.ts
Due: oxfmt-write, oxlint-fix

chore(root): deps
  .pi/ohm.json
  extensions/index.ts
  package.json
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/src/manifest.ts
  packages/memories/package.json
  packages/modes/package.json
  packages/painter/package.json
  packages/references/README.md
  packages/references/SPEC.md
  packages/references/package.json
  packages/references/src/cache.ts
  packages/references/src/config.ts
  packages/references/src/extension.ts
  packages/references/src/references.ts
  packages/references/src/repository.ts
  packages/references/src/tests/autocomplete.test.ts
  packages/references/src/tests/references.test.ts
  packages/references/src/tests/repository.test.ts
  packages/session-search/package.json
  packages/subagents/package.json
  packages/tui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt-write, oxlint-fix

chore(mono): grrrr
  packages/references/src/extension.ts
  packages/references/src/tests/autocomplete.test.ts
Due: oxfmt-write, oxlint-fix

feat(ref): update stuff
  .pi/ohm.json
  packages/references/README.md
  packages/references/src/extension.ts
  packages/references/src/tests/autocomplete.test.ts
  scripts/validate-commits.ts
Due: oxfmt-write, oxlint-fix

fix(docs): weird fumadocs/tanstack store stuff
  docs/package.json
  docs/vite.config.ts
  pnpm-lock.yaml
Due: oxfmt-write, oxlint-fix

chore(docs): add references docs
  docs/content/docs/meta.json
  docs/content/docs/references/index.mdx
  docs/content/docs/references/meta.json
  docs/package.json
  docs/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: oxfmt-write, oxlint-fix

chore(root): pi ohm settings
  .pi/ohm.json
Due: oxfmt-write

chore(root): more ohm settings
  .pi/ohm.json
Due: oxfmt-write

feat(references): add tui/better input invocation similar to skills
  docs/content/docs/references/index.mdx
  packages/references/README.md
  packages/references/SPEC.md
  packages/references/src/extension.ts
  packages/references/src/tests/autocomplete.test.ts
Due: oxfmt-write, oxlint-fix

fix(references): keep aliases readable
  docs/content/docs/references/index.mdx
  packages/references/README.md
  packages/references/SPEC.md
  packages/references/src/extension.ts
  packages/references/src/tests/autocomplete.test.ts
Due: oxfmt-write, oxlint-fix

chore(release): wire references package
  .github/workflows/release.yml
  .release-please-config.json
  .release-please-manifest.json
  scripts/generate-release-notes.ts
  scripts/publish-packages.ts
Due: oxfmt-write, oxlint-fix

chore(docs): format references docs
  docs/content/docs/references/index.mdx
Due: none

fix(docs): deploy with node 22
  .github/workflows/docs-deploy.yml
Due: oxfmt-write

fix(release): support npm token publishing
  .github/workflows/release.yml
Due: oxfmt-write

fix(docs): update alchemy deploy
  docs/package.json
  pnpm-lock.yaml
Due: oxfmt-write

fix(docs): pin alchemy undici
  package.json
  pnpm-lock.yaml
Due: oxfmt-write

feat(references): update stuff?
  docs/content/docs/references/index.mdx
  packages/core/package.json
  packages/core/src/jobs.ts
  packages/core/src/tests/jobs.test.ts
  packages/references/README.md
  packages/references/SPEC.md
  packages/references/src/cache.ts
  packages/references/src/extension.ts
  packages/references/src/tests/cache.test.ts
Due: oxfmt-write, oxlint-fix

feat(mono): add profiler extension wiring and shi
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/src/manifest.ts
  packages/profiler/README.md
  packages/profiler/package.json
  packages/profiler/src/benchmark.ts
  packages/profiler/src/cli.ts
  packages/profiler/src/config.ts
  packages/profiler/src/extension.ts
  packages/profiler/src/report.ts
  packages/profiler/src/store.ts
  packages/profiler/src/tests/benchmark.test.ts
  packages/profiler/src/tests/extension.test.ts
  packages/profiler/src/tests/report.test.ts
  pnpm-lock.yaml
Due: oxfmt-write, oxlint-fix

fix(mono): remove internal profiler ext from global pi-ohm extension
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/src/manifest.ts
  pnpm-lock.yaml
Due: oxfmt-write, oxlint-fix

feat(root): mattpocock skills, as always
  .agents/skills/codebase-design/DEEPENING.md
  .agents/skills/codebase-design/DESIGN-IT-TWICE.md
  .agents/skills/codebase-design/SKILL.md
  .agents/skills/decision-mapping/SKILL.md
  .agents/skills/design-an-interface/SKILL.md
  .agents/skills/grill-me/SKILL.md
  .agents/skills/grilling/SKILL.md
  .agents/skills/improve-codebase-architecture/HTML-REPORT.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  skills-lock.json
Due: oxfmt-write

chore(mono): add bro skill
  .agents/skills/bro/SKILL.md
Due: oxfmt-write

refac(pip,subagents): move most config to pip
  packages/core/src/pi-in-pi/index.ts
  packages/core/src/pi-in-pi/spawn-config.ts
  packages/core/src/pi-in-pi/tests/spawn-config.test.ts
  packages/subagents/package.json
  packages/subagents/src/agent-controller.ts
  packages/subagents/src/spawn-config.ts
Due: oxfmt-write, oxlint-fix
